
.traffic-light {
    background: black;
 margin: 300px 760px 10px 750px ;
 border-radius: 15px 15px 15px 15px;
}

.red {
    background: rgb(181, 5, 5);
    margin: 0px 0px 10px 30px
    }

.yellow {
    background: rgb(176, 176, 2);
    margin: 0px 0px 10px 30px
}
.green {
    background: rgb(1, 83, 1);
    margin: 0px 0px 10px 30px
}
.brillo {
    box-shadow: 1px 1px 10px 10px blue;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  

}
